/* Comments
/*-------------------------------------------------------*/
@media only screen and (min-width: 576px) {
    .comment .children {
        padding-left: 8%;
    }
}

.comment-list > li:first-child > .comment-body {
    border-top: 0;
    padding-top: 0;
}

.comment-body {
    margin-bottom: 24px;
    padding-top: 24px;
    border-top: 1px solid #E3E4E8;
}

.comment-text {
    overflow: hidden;
}

    .comment-text p {
        margin-bottom: 10px;
    }

.comment-avatar {
    float: right;
    margin-left: 20px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

    .comment-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

.comment-author {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 8px;
}

.comment-metadata {
    display: inline-block;
}

.comment-date, .comment-edit-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #83858F;
}

.comment-edit-link {
    margin-left: 5px;
    margin-bottom: 0;
    color: #2D95E3;
}

.comment-reply {
    color: #171821;
    font-weight: 600;
}

    .comment-reply:hover {
        color: #2D95E3;
    }

/* Comment Form
/*-------------------------------------------------------*/
.comment-form p {
    margin: 0;
}

.comment-respond {
    margin-top: 40px;
}
