@page
@model BlogON.Presentation.Areas.Admin.Pages.Article.CreateModel
@{
    Layout = "_AdminLayout";

}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header center-block">لیست مطالب</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form asp-page="Create">
        <div class="form-group">
            <input name="Title" class="form-control" placeholder="عنوان مطلب را وارد کنید" />
        </div>
        <div class="form-group">
            <label>انتخاب دسته</label>
            <select name="ArticleCategoryId" id="ArticleCategoryId" asp-items="Model.selectListItems" class="form-control">
                <option value="0">
                    انتخاب دسته
                </option>
            </select>
        </div>
        <div class="form-group">
            <textarea rows="5" name="ShortDescription" class="form-control" placeholder="چکیده را وارد کنید"></textarea>
        </div>
        <div class="form-group">
            <input type="text" name="Image" class="form-control" placeholder="تصویر را وارد کنید" />
        </div>
        <div class="form-group">
            <textarea id="Content" name="Content" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="ثبت شود" class="btn btn-success btn-block" />
        </div>
    </form>

</div>


@section SC{

    <script src="~/AdminPanel/js/jquery-1.10.2.js"></script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>

    <script>
        $(function () {
            $('#Content').ckeditor();
        });
    </script>


}
